*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 200px;
    padding: 10px 20px;
    margin: 320px auto;
}
    
.p{
color: red;
    }